.pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.4rem;
  margin-top: 1.5rem;
}

.pagination_btn {
  width: clamp(2.2rem, calc(0.2963vw + 2.1444rem), 2.5rem);
  height: clamp(2.2rem, calc(0.2963vw + 2.1444rem), 2.5rem);
  border-radius: var(--input_border_radius);
  border: 0.1rem solid var(--primary_green);
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  transition:
    0.2s ease background-color,
    0.2s ease color;
  color: var(--primary_green);
}

.pagination_btn:hover:not(:disabled) {
  background-color: var(--primary_green);
  color: hsl(0, 0%, 100%);
}

.pagination_btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.pagination_btn_active {
  background-color: var(--primary_green);
  color: hsl(0, 0%, 100%);
}

.pagination_dots {
  padding: 0 0.3rem;
  color: var(--dark_gray);
}
